#box {
    border-radius: 3%;
    width: 23%;
    margin: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#alignment {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content {
    margin: 5px;
    padding: 10px;
}