#box {
    border-radius: 3%;
    width: 23%;
    margin: 10px;
    min-width: 300px;
}

#alignment {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    margin: 5px;
    padding: 10px;
}